{% extends 'index.html' %}
{% load static %}
{% block title %}
  <title>Football</title>
{% endblock %}
{% block content %}
  <div class="container mt-5 custom-width-container">
    <h1 class="text-center">Search Football Fixtures</h1>

    <!-- Input Form -->
    <div class="row justify-content-center mt-4">
      <div class="col-md-6">
        <form id="clubForm" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="clubName" class="form-label">Enter a Football Club Name:</label>
            {{ form.club_name }}
          </div>

          <!-- Error messages in case fixtures could not get retrieved -->
          {% if messages %}
            {% for message in messages %}
              <p class="messages">{{ message }}</p>
            {% endfor %}
          {% endif %}

          <div class="row">
            <div class="col">
              <button type="submit" id="getFixturesBtn" class="btn btn-primary w-100" name="action" value="get_fixtures">Get Fixtures</button>
            </div>
            <div class="col">
              <button type="submit" id="clearResultsBtn" class="btn btn-info w-100" name="action" value="clear_results">Clear Results</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Fixtures Table -->
    {% for fixtures_coll in all_fixtures %}
      <div class="table-responsive mt-5" id="fixturesTable" style="display: block">
        <div class="d-flex justify-content-center align-items-center">
          <h2 class="mb-0" id="clubHeader">{{ fixtures_coll.0.club_name }}</h2>
          <!-- Button to remove the table -->
          <button class="btn btn-link ms-2" title="Remove Club" onclick="removeTable({{ forloop.counter }})"><img src="{% static 'img/minus-icon.png' %}" alt="Remove Table" width="20" height="20" /></button>
        </div>
        <table class="table table-striped">
          <thead class="table-dark">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Opponent</th>
              <th scope="col">Venue</th>
              <th scope="col">Tournament</th>
            </tr>
          </thead>
          <tbody id="fixturesBody">
            {% for fixture in fixtures_coll %}
              <tr>
                <td>{{ fixture.date }}</td>
                <td>{{ fixture.opponent }}</td>
                <td>{{ fixture.venue }}</td>
                <td>{{ fixture.tournament }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  </div>

  <script type="text/javascript" src="{% static 'js/football.js' %}"></script>
{% endblock %}
